.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 12rem;
    height: 4rem;


}
.navbar{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #ffffff;
}

.navbar>li:hover{
    color: blue;
    cursor: pointer;
}

.hero-blur{
    width: 22rem;
    height:30rem;
    left:0;
}